*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

header{
height: 100px;
background-color: red;

}
.logo{
    height: 50px;
    margin: 0;
    padding: 0; 
    
}
.logo-text{
    font-size: 30px;
    display: inline-block;
    font-weight: 900;
    text-align: center;
    
}
body{
    background-color: blue;
    margin: auto;
}
.top-bar{
    display: block;
    padding: 8px;
    background-color:yellow;
    width: auto;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.main-bar{
    display: block;
    padding: 8px;
    background-color:yellow;
    width: auto;
    height: 700px;
    margin-top: 3px;
    margin-left: 100px;
    margin-right: 100px;
}
}