*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}
/* header*/
header{
height: 100px;
background-color:white;
padding: 25px 10px;

}
.logo{
    height: 50px;
    margin: 0;
    padding: 0; 
    line-height: 50px;
    vertical-align: middle;
}
.logo-text{
    font-size: 30px;
    display: inline-block;
    font-weight: 900;
    vertical-align: middle;
   
    
}
/*header*/



/*body*/
body{
    background-color: whitesmoke;
    margin: auto;
}
main{
    width: 80%;
    margin: 0 auto;
  
}
/*body*/



/*Top bar*/
.top-bar{
    display: block;
    padding: 8px;
    background-color: white;
    width: auto;
    height: 50px;
    margin-top: 50px;
   
}

.main-info{
    display: block;
    padding: 20px;
    background-color:white;
    width: auto;
    height: 700px;
    margin-top: 3px;
 }

#Add-task{
background-color:skyblue;
border: none;
border-radius: 5px;
color: white;
padding: 10px 15px;
margin-left: 20px;
}

#Add-section{
    display: inline-block
    background-color:skyblue;
    border:1px solid gray;
    border-radius: 5px;
    color: lightgrey;
    padding: 10px 15px;
    margin-left: 5px;
}
/*Top bar*/



/*Check and cancel Icons*/
#icon{
    background-color:white;
    border:1px solid green;
    color: green;
    border-radius: 100%;
}
#icon-red{
    background-color:white;
    border:1px solid red;
    color: red;
    border-radius: 100%;
}
/*Check and cancel Icons*/

/*Main titles*/
.list-block{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    line-height: 40px;
}
/*Main Titles*/


/*colorful boxes*/
.editorial{
   
    border: 1px solid skyblue;
    border-radius: 20px;
    font-size: x-small;
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 5px;
}
.Q1-goals{
    border: 1px solid purple;
    border-radius: 20px;
    font-size: x-small;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 5px;
}
.Recruiting{
    border: 1px solid rgb(135, 233, 187);
    border-radius: 20px;
    font-size: x-small;
    background-color: rgb(135, 233, 187);
    color: white;
    text-align: center;
    padding: 5px;
}
.Mobile{
    border: 1px solid orange;
    border-radius: 20px;
    font-size: x-small;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
}
.Website{
    border: 1px solid fuchsia;
    border-radius: 20px;
    font-size: x-small;
    background-color: fuchsia;
    color: white;
    text-align: center;
    padding: 5px;
}
.Sales{
    border: 1px solid rgb(196, 223, 174);
    border-radius: 20px;
    font-size: x-small;
    background-color: rgb(196, 223, 174);
    color: white;
    text-align: center;
    padding: 5px;
}
/*colorful boxes*/
